<div class="product-description page-width">
  <div class="product-description-tabs">
    <ul>
      <li class="open"><a data-target="product-description-block" href="#" class="">Description</a></li>
      <li class=""><a data-target="product-reviews-block" href="#" class="">Reviews</a></li>
      <li class=""><a data-target="product-details-block" href="#" class="">Product Details</a></li>
      <li class=""><a data-target="product-wholesale-block" href="#" class="">Wholesale</a></li>
      <li class=""><a data-target="product-warranty-block" href="#" class="">Warranty</a></li>
    </ul>
  </div>
  <div class="product-description-blocks">
    <div class="product-description-block open">
    	{{ product.description }}
    </div>
    <div class="product-reviews-block">
      <div id="wc_review_section" class="wc_review_main_content" data-url="{{ shop.url }}" data-handle="{{ product.handle }}" data-limit="0"></div>
    </div>
    <div class="product-details-block">
      {{product.metafields.accentuate.product_details}}
    </div>
    <div class="product-wholesale-block">
    	{{product.metafields.accentuate.wholesale}}
    </div>
    <div class="product-warranty-block">
    	{{product.metafields.accentuate.wholesale}}
    </div>
  </div>
</div>