<div class="product-description page-width">
  <div class="product-description-tabs">
    <ul>
      <li class="open"><a data-target="product-description-block" href="#" class="">Description</a></li>
      <li class=""><a data-target="product-reviews-block" href="#" class="">Reviews</a></li>
      <li class=""><a data-target="product-spec-block" href="#" class="">Spec</a></li>
      <li class=""><a data-target="product-details-block" href="#" class="">Product Details</a></li>
      <li class=""><a data-target="product-wholesale-block" href="#" class="">Wholesale</a></li>
      <li class=""><a data-target="product-warranty-block" href="#" class="">Warranty</a></li>
    </ul>
  </div>
  <div class="product-description-blocks">
    <div class="product-description-block open">
    	{{ product.description }}
    </div>
    <div class="product-reviews-block">
      <div id="wc_review_section" class="wc_review_main_content" data-url="{{ shop.url }}" data-handle="{{ product.handle }}" data-limit="0"></div>
    </div>
    <div class="product-spec-block">
      {{product.metafields.accentuate.spec}}
    </div>
    <div class="product-details-block">
      {{product.metafields.accentuate.product_details}}
    </div>
    <div class="product-wholesale-block">
    	 There are great opportunities available with the Polar Bear Cooler line. Polar Bear Coolers are the highest quality soft coolers made and our success over the years just goes to show that if you give someone a quality product at a fair price, they will remember you for it. The fan mail speaks for itself. 
       <a href="wholesale-sign-up.html">Apply For Wholesale</a>
    </div>
    <div class="product-warranty-block">
        Thank you for being a Polar Bear Coolers Customer. Your Satisfaction is Guaranteed!
        We are dedicated to providing the highest quality product possible. In doing so, we offer a 1 Year Warranty against manufacturer defects. Proper care must be taken to assure longevity. Please do not place sharp, pointed or blunt objects inside your cooler.
    </div>
  </div>
</div>