
<div class="{{ collection.handle }}" data-section-id="{{ section.id }}" data-section-type="collection-template">
  <header class="collection-header">
  
    <div class="page-width">
      <div class="section-header text-center">
        <h1>{{ collection.title }}</h1>
        <hr class="c-keyline">
      </div>
    </div>
  </header>

  <div class="page-width custom-cooler-body">
    <div class="customcooler-sections">
      <div class="customcooler-item d-w-50" style="padding-right:20px;">
        <h4>Personalized <strong>Embroidered</strong> Coolers</h4>
          <a href="/collections/custom-coolers/">
            <button type="button" class="light" style="text-decoration: none;">Customize with Text or Monogram</button></a>
          <h5>MAKE IT YOUR OWN</h5>
      
          <p>The Polar Bear Coolers personalization feature lets you get creative. Select text and fonts to personalize your cooler for yourself or that special someone. 
          Great for Father's Day, graduation, boat names, groomsmen gifts, or just tag it up with a nickname! 
          You are just one click away from getting started.
        </p>
     
        <h5>Personalized Text / Monogram Examples:</h5>
      
        <img src="{{ 'custom-image1.jpg' | asset_img_url: 'master' }}" />
      </div>
    
      <div class="customcooler-item d-w-50" style="padding-left:20px;">
        <h4>Custom <strong>Embroidered Logo</strong> Coolers</h4>
      
        <a href="/pages/custom-logo-coolers/">
          <button type="button" class="dark" style="text-decoration: none;">
            Customize with Logo or Graphic
          </button>
        </a>
      
        <h5>Join the thousands who have co branded with Polar Bear Coolers.</h5>
      
        <p>
          Polar Bear Coolers are ideal for promotional advertisement, corporate business gifts, product association awards and recognition. Why? Because our product gets you out of the office. You work hard and you play hard. With Polar Bear Coolers you can play as hard as you like because our product is built for performance.

		      <br /><br />
          Associate your logo with a product you can be proud of and the recipient will appreciate and use for years!
        </p>
      
        <h5>Custom Logo Embroidery Examples:</h5>
      
        <img src="{{ 'custom-image2.jpg' | asset_img_url: 'master' }}" />
    </div>
  </div>
    
    
  <header class="collection-header">
  
    <div class="page-width">
      <div class="section-header text-center">
        <h1>Upload Your Logo</h1>
        <hr class="c-keyline">
      </div>
    </div>
  </header>
    
    <script type="text/javascript" src="https://form.jotform.com/jsform/200213682765049"></script>
</div>


