{%- assign social_icons = false -%}
{%- assign inline_list = false -%}

{%- if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
-%}
  {%- assign social_icons = true -%}
{%- endif -%}


{%- assign footer_text_color = section.settings.color_footer_text -%}
{%- assign footer_text_color_brightness = section.settings.color_footer_text | color_brightness -%}
{%- if footer_text_color_brightness <= 26 -%}
  {%- assign footer_text_color_hover = footer_text_color | color_lighten: 25 -%}
{%- elsif footer_text_color_brightness <= 65 -%}
  {%- assign footer_text_color_hover = footer_text_color | color_lighten: 15 -%}
{%- else -%}
  {%- assign footer_text_color_hover = footer_text_color | color_darken: 10 -%}
{%- endif -%}

<style>
  .footer-links-block p,
  .footer-links-block p.h4 {
    color: {{ section.settings.color_footer_text }};
  }

  .site-footer .footer-page-width {
    background-color: {{ section.settings.color_footer_bg }};
  }

  .footer-links-block ul li a,
  .footer-social li a {
    color: {{ section.settings.color_footer_link_text }};;
  }

  .footer-links-block ul li a:hover,
  .footer-social li a:hover {
    color: {{ section.settings.color_footer_link_hover_text }};; 
  }

  .footer-subscription-block .newsletter__submit {
    background-color: {{section.settings.color_subscription_btn}};
  }

  .footer-subscription-block .newsletter__submit:hover {
    background-color: {{section.settings.color_subscription_hover_btn}};
  }

  
</style>


<footer class="site-footer critical-hidden" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div class="footer-page-width">
    <div class="footer-subscription-block">
      {% form 'customer', id: formId, novalidate: 'novalidate' %}
        {%- if form.posted_successfully? -%}
          <p class="form-message form-message--success" tabindex="-1" data-form-status>
            {{ 'general.newsletter_form.confirmation' | t }}
          </p>
        {%- endif -%}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="input-group {% if form.errors %} input-group--error{% endif %}">
          <input type="email"
            name="contact[email]"
            id="{{ formId }}-email"
            class="input-group__field newsletter__input{% if form.errors %} input--error{% endif %}"
            value="{{ form.email }}"
            placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
            aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
            aria-required="true"
            required
            autocorrect="off"
            autocapitalize="off"
            {% if form.errors %}
              aria-invalid="true"
              aria-describedby="{{ formId }}-email-error"
              data-form-status
            {% endif %}>
          <span class="input-group__btn">
            <button type="submit" class="btn newsletter__submit" name="commit" >
              <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.btn' | t }}</span>
            </button>
          </span>
          <a href="/opt-in.html" class="input-group__hint" title="More Info About this Program">?</a>
        </div>
        {% if form.errors contains 'email' %}
          <span id="{{ formId }}-email-error" class="input-error-message">
            <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
            {% include 'icon-error' %}
            <span class="site-footer__newsletter-error">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
          </span>
        {% endif %}
      {% endform %}
    </div>

    <div class="footer-logo-links">
      <div class="footer-logo-block">
        {%- assign img_url = section.settings.footer_logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <a href="/">
          <img class="footer-logo-img lazyload"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
            data-aspectratio="{{ section.settings.footer_logo.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ section.settings.footer_logo.alt | escape }}">
        </a>
        <p class="h4">Hours</p>
        <div class="site-footer__sublist">
          <div class="footer-time">
            <label>Hours</label>
            <span>{{section.settings.footer_hours}}</span>
          </div>
          <div class="footer-social-block">
            <label>Social</label>
            {%- assign socials = "Facebook Twitter Pinterest Instagram GooglePlus Tumblr Snapchat YouTube Vimeo" | split: ' ' -%}
            {%- if social_icons -%}
              <ul class="footer-social">
                {%- for social in socials -%}
                  {%- assign social_link = social | prepend: 'social_' | append: '_link' | downcase -%}
                  {%- assign icon_link = social | prepend: 'icon-' | downcase -%}
                  {%- if settings[social_link] != blank -%}
                    <li>
                      <a class="social-icons__link" href="{{ settings[social_link] | escape }}" aria-describedby="a11y-external-message">
                        {%- include icon_link -%}
                        <span class="icon__fallback-text">{{ social }}</span>
                      </a>
                    </li>
                  {%- endif -%}
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>
        </div>
      </div>

      <div class="footer-links-block">
        
          {%- for block in section.blocks -%}
          <div class="footer-links-item">
            {%- if block.settings.title -%}
              <p class="h4">{{ block.settings.title | escape }}</p>
            {%- endif -%}

            {%- assign footer_linklist = block.settings.menu -%}
            <ul class="site-footer__linklist">
              {%- for link in linklists[footer_linklist].links -%}
                <li class="site-footer__linklist-item">
                  <a href="{{ link.url }}"
                    {% if link.current %} aria-current="page"{% endif %}
                  >
                    {{ link.title | escape }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
            </div>
          {%- endfor -%}
        
      </div>
    </div>
  </div>

  <div class="footer-copywriter">
    <p>{{section.settings.copywriter_text}}</p>
  </div>
</footer>



{% schema %}
{
  "name": "Footer",
  "max_blocks": 4,
  "settings": [
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer Logo"
    },
    {
      "type": "text",
      "id": "footer_hours",
      "label": "Footer Hours"
    },
    {
      "type": "color",
      "id": "color_footer_bg",
      "label": "Background",
      "default": "#f6f6f6"
    },
    {
      "type": "color",
      "id": "color_footer_text",
      "label": "Text",
      "default": "#333232"
    },
    {
      "type": "color",
      "id": "color_subscription_btn",
      "label": "Subscription Button Color",
      "default": "#333232"
    },
    {
      "type": "color",
      "id": "color_subscription_hover_btn",
      "label": "Subscription Button Hover Color",
      "default": "#333232"
    },
    {
      "type": "color",
      "id": "color_footer_link_text",
      "label": "Menu Color",
      "default": "#333232"
    },
    {
      "type": "color",
      "id": "color_footer_link_hover_text",
      "label": "Menu Hover Color",
      "default": "#333232"
    },
    {
      "type": "text",
      "id": "copywriter_text",
      "label": "Copywriter"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Talk about your business"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "footer"
        }
      ]
    }
  ]
}
{% endschema %}
